@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Loan Calculator ASP.NET MVC</h1>
    <p>A simple ASP.NET MVC Application that simulates how a loan application might work!</p>
    <a class="btn btn-Custom" asp-area="" asp-controller="Home" asp-action="App">Take Me To The Calculator</a>
</div>
