@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Loan Calculator</h1>
    <p>A simple ASP.NET MVC Application that calculates monthly repayments for a loan.</p>
    <a class="btn btn-Custom" asp-area="" asp-controller="Home" asp-action="App">Take Me To The Calculator</a>
    <p><img src="/images/Bank Loan Small.jpg" class="img-fluid"/></p>



</div>
